<a href="https://colab.research.google.com/github/7201krap/PYTHON_applied_data_science/blob/main/week1/what_is_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json

In [43]:
# python dictionary example 

# thisdict =	{
#   "brand": "Ford",
#   "model": "Mustang",
#   "year": 1964
# }

JSON to Python

In [44]:
 # This is json looks very similar to python dictionary 
 people_string = '''
                 {
                   "people" : 
                   [
                     {
                       "name": "Jayden Park",
                       "phone": "1234",
                       "emails": ["wlsgus1805@gmail.com", "jp17528@bristol.ac.uk"],
                       "has_license": false 
                     },
                     {
                       "name": "Jongmin Kim",
                       "phone": "5678",
                       "emails": null,
                       "has_license": true 
                     }
                   ]
                 }
                 '''

In [45]:
my_data = json.loads(people_string)

In [46]:
type(my_data["people"])

list

In [47]:
for person in my_data["people"]:
  print(person)
  print(person["name"])

{'name': 'Jayden Park', 'phone': '1234', 'emails': ['wlsgus1805@gmail.com', 'jp17528@bristol.ac.uk'], 'has_license': False}
Jayden Park
{'name': 'Jongmin Kim', 'phone': '5678', 'emails': None, 'has_license': True}
Jongmin Kim

Python to JSON

In [48]:
# remove phone number
# and save that to my_new_data

for person in my_data["people"]:
  # remove phone number 
  del person["phone"]

In [60]:
# make my_new_data and save the data to my_new_data 
my_new_data = json.dumps(my_data, indent=2, sort_keys=True)

In [61]:
print(my_new_data)

{
  "people": [
    {
      "emails": [
        "wlsgus1805@gmail.com",
        "jp17528@bristol.ac.uk"
      ],
      "has_license": false,
      "name": "Jayden Park"
    },
    {
      "emails": null,
      "has_license": true,
      "name": "Jongmin Kim"
    }
  ]
}