# World Bank Education Data Analysis

#### Credits: Laura Gemmell

Data for this example is taken from the World Bank Education Dataset.

To download the CSV file:
1. Go to the World Bank [website](https://data.worldbank.org/topic/4)
2. Select CSV on the right-hand side
3. Unzip the download

On Local machine 

4. Place the data folder (API_X_XX_en_csv_vX_XXXXXXX) in the same directory as this notebook 

On Google Colab

4. Click on the folder icon on the left-hand panel of Google Colab

5. Drag the file (inside the unzipped folder) which begins with "API"
> Or click the Upload file button (looks like a page with an arrow) and navigate to the file

The archive contains three csv files: 
1. API_X_XX_en_csv_vX_XXXXXXX.csv, containing the actual data; 
2. Metadata_Country_API_..., containing the metadata for each country; and 
3. Metadata_Indicator_API_..., containing the metadata about each indicator in the World Bank data set.

## Import Data

In [1]:
import pandas as pd

Note: please check the name of the file you have uploaded. It should begin with "API" but the numbers may vary. To copy the file name:
1. In the left hand panel, click on the file icon
2. Click on the dots beside the file name
3. Select "copy path"
4. Paste this in the following code

In [2]:
main_data = pd.read_csv("./API_4_DS2_en_csv_v2_2056686/API_4_DS2_en_csv_v2_2056686.csv", skiprows=4,engine='python')
main_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,53.669919,54.056784,54.383281,54.710292,55.119933,55.631102,...,68.986934,69.108851,69.181105,69.159774,69.137615,68.946339,68.646606,68.321199,NaN,NaN
1,Aruba,ABW,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,43.847190,43.358346,42.925745,42.488756,41.950133,41.290098,...,20.092629,19.593055,19.111724,18.703098,18.257495,17.980183,17.802447,17.620445,NaN,NaN
2,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,"Unemployment, male (% of male labor force) (mo...",SL.UEM.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
main_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

In [4]:
main_data.shape

(42768, 66)

In [5]:
main_data.size

2822688

In [6]:
main_data['Country Name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. Peopleâ€™s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

Note that country names column includes countries as well as region names such as "Europe & Central Asia." Take a look at the output above.

In [7]:
# Each Country Name has an associated three letter Country Code

main_data['Country Code'].unique()

array(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG', 'ARM',
       'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CEB', 'CHE',
       'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM',
       'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU',
       'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR', 'EAS', 'ECA',
       'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST', 'ETH', 'EUU',
       'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB', 'GBR', 'GEO',
       'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL',
       'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC', 'HRV', 'HTI',
       'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX', 'IMN', 'IND',
       'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT',
       'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN', 'LDC', 'LIC',
       'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU', 'LUX', 'LVA',
       'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEA', 'MEX',
       'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA', 'MNE', 'MNG',
       'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC', 'NAM', 'NCL',
       'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OED',
       'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL',
       'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS', 'PST', 'PYF',
       'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN', 'SEN', 'SGP',
       'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA', 'SSD', 'SSF',
       'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC',
       'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA', 'TJK', 'TKM',
       'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO', 'TUN', 'TUR',
       'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX', 'YEM',
       'ZAF', 'ZMB', 'ZWE'], dtype=object)

The dataset contains 162 unique indicators related to education.

In [8]:
main_data['Indicator Name'].unique()

array(['Population ages 15-64 (% of total population)',
       'Population ages 0-14 (% of total population)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Labor force, total',
       'Labor force, female (% of total labor force)',
       'Probability of dying among youth ages 20-24 years (per 1,000)',
       'Probability of dying among adolescents ages 15-19 years (per 1,000)',
       'Probability of dying among adolescents ages 10-14 years (per 1,000)',
       'Probability of dying among children ages 5-9 years (per 1,000)',
       'Number of deaths ages 20-24 years',
       'Number of deaths ages 15-19 years',
       'Number of deaths ages 10-14 years',
       'Number of deaths ages 5-9 years',
       'Government expenditure on education, total (% of GDP)',
       'Government expenditure on education, total (% of government expenditure)',
       'Expenditure on tertiary education (% of government expenditure on education)',
       'Government expenditure per student, tertiary (% of GDP per capita)',
       'Expenditure on secondary education (% of government expenditure on education)',
       'Government expenditure per student, secondary (% of GDP per capita)',
       'Expenditure on primary education (% of government expenditure on education)',
       'Government expenditure per student, primary (% of GDP per capita)',
       'Current education expenditure, total (% of total expenditure in public institutions)',
       'Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)',
       'Current education expenditure, secondary (% of total expenditure in secondary public institutions)',
       'Current education expenditure, primary (% of total expenditure in primary public institutions)',
       'Tertiary education, academic staff (% female)',
       'School enrollment, tertiary, male (% gross)',
       'School enrollment, tertiary, female (% gross)',
       'School enrollment, tertiary (% gross)',
       'Pupil-teacher ratio, tertiary',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)",
       "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)",
       "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)',
       'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)',
       'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       'Adolescents out of school (% of lower secondary school age)',
       'Adolescents out of school, male (% of male lower secondary school age)',
       'Adolescents out of school, female (% of female lower secondary school age)',
       'Secondary education, teachers (% female)',
       'Secondary education, teachers, female',
       'Secondary education, teachers',
       'Trained teachers in secondary education (% of total teachers)',
       'Trained teachers in upper secondary education (% of total teachers)',
       'Trained teachers in upper secondary education, male (% of male teachers)',
       'Trained teachers in upper secondary education, female (% of female teachers)',
       'Trained teachers in secondary education, male (% of male teachers)',
       'Trained teachers in lower secondary education (% of total teachers)',
       'Trained teachers in lower secondary education, male (% of male teachers)',
       'Trained teachers in lower secondary education, female (% of female teachers)',
       'Trained teachers in secondary education, female (% of female teachers)',
       'Progression to secondary school (%)',
       'Progression to secondary school, male (%)',
       'Progression to secondary school, female (%)',
       'School enrollment, secondary, private (% of total secondary)',
       'School enrollment, secondary, male (% net)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary (% net)',
       'School enrollment, secondary, male (% gross)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary (% gross)',
       'Secondary education, vocational pupils (% female)',
       'Secondary education, vocational pupils',
       'Pupil-teacher ratio, upper secondary',
       'Pupil-teacher ratio, secondary',
       'Pupil-teacher ratio, lower secondary',
       'Secondary education, general pupils (% female)',
       'Secondary education, general pupils',
       'Secondary education, pupils (% female)',
       'Secondary education, pupils',
       'Secondary education, duration (years)',
       'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)',
       'Lower secondary completion rate, total (% of relevant age group)',
       'Lower secondary completion rate, male (% of relevant age group)',
       'Lower secondary completion rate, female (% of relevant age group)',
       'Lower secondary school starting age (years)',
       'Children out of school (% of primary school age)',
       'Children out of school, male (% of male primary school age)',
       'Children out of school, primary, male',
       'Children out of school, female (% of female primary school age)',
       'Children out of school, primary, female',
       'Children out of school, primary',
       'Adjusted net enrollment rate, primary, male (% of primary school age children)',
       'Adjusted net enrollment rate, primary, female (% of primary school age children)',
       'Adjusted net enrollment rate, primary (% of primary school age children)',
       'Primary education, teachers (% female)',
       'Primary education, teachers',
       'Trained teachers in primary education (% of total teachers)',
       'Trained teachers in primary education, male (% of male teachers)',
       'Trained teachers in primary education, female (% of female teachers)',
       'Repeaters, primary, total (% of total enrollment)',
       'Repeaters, primary, male (% of male enrollment)',
       'Repeaters, primary, female (% of female enrollment)',
       'Persistence to last grade of primary, total (% of cohort)',
       'Persistence to last grade of primary, male (% of cohort)',
       'Persistence to last grade of primary, female (% of cohort)',
       'Persistence to grade 5, total (% of cohort)',
       'Persistence to grade 5, male (% of cohort)',
       'Persistence to grade 5, female (% of cohort)',
       'School enrollment, primary, private (% of total primary)',
       'Over-age students, primary (% of enrollment)',
       'Over-age students, primary, male (% of male enrollment)',
       'Over-age students, primary, female (% of female enrollment)',
       'Net intake rate in grade 1 (% of official school-age population)',
       'Net intake rate in grade 1, male (% of official school-age population)',
       'Net intake rate in grade 1, female (% of official school-age population)',
       'School enrollment, primary, male (% net)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary (% net)',
       'Gross intake ratio in first grade of primary education, total (% of relevant age group)',
       'Gross intake ratio in first grade of primary education, male (% of relevant age group)',
       'Gross intake ratio in first grade of primary education, female (% of relevant age group)',
       'School enrollment, primary, male (% gross)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary (% gross)',
       'Pupil-teacher ratio, primary',
       'Primary education, pupils (% female)',
       'Primary education, pupils', 'Primary education, duration (years)',
       'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
       'Primary completion rate, total (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary school starting age (years)',
       'Trained teachers in preprimary education (% of total teachers)',
       'Trained teachers in preprimary education, male (% of male teachers)',
       'Trained teachers in preprimary education, female (% of female teachers)',
       'School enrollment, preprimary, male (% gross)',
       'School enrollment, preprimary, female (% gross)',
       'School enrollment, preprimary (% gross)',
       'Pupil-teacher ratio, preprimary',
       'Preprimary education, duration (years)',
       'School enrollment, tertiary (gross), gender parity index (GPI)',
       'School enrollment, secondary (gross), gender parity index (GPI)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'School enrollment, primary (gross), gender parity index (GPI)',
       'Compulsory education, duration (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth (ages 15-24), gender parity index (GPI)',
       'Literacy rate, youth female (% of females ages 15-24)'],
      dtype=object)

## Data Cleaning for Female Unemployment Indicator

Keep only rows which have data about the female unemployment indicator.

In [9]:
female_unemployment = main_data[main_data['Indicator Name'] == 'Unemployment, female (% of female labor force) (modeled ILO estimate)']

In [10]:
female_unemployment.shape

(264, 66)

In [11]:
female_unemployment.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
4,Aruba,ABW,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Afghanistan,AFG,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.86,14.70,14.53,14.450000,14.33,14.09,13.92,13.81,NaN,NaN
328,Angola,AGO,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.81,7.78,7.71,7.650000,7.50,7.41,7.28,7.22,NaN,NaN
490,Albania,ALB,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.46,13.34,15.45,17.120001,14.45,12.48,11.87,11.31,NaN,NaN
652,Andorra,AND,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice in the above output, the data doesn't start until 1991 and the last two columns (2020 and an unnamed data) do not data.

In [12]:
female_unemployment.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

Subset the dataset to include only relevant columns:

In [13]:
female_unemployment = female_unemployment[['Country Name', 'Country Code',
                                          '1991', '1992', '1993', '1994', '1995',
                                          '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
                                          '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
                                          '2014', '2015', '2016', '2017', '2018', '2019']]

In [14]:
female_unemployment.shape

(264, 31)

In [15]:
female_unemployment.head()

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Afghanistan,AFG,14.36,14.610000,14.610000,14.760000,14.950000,14.58,14.76,14.770000,...,14.76,14.79,14.86,14.70,14.53,14.450000,14.33,14.09,13.92,13.81
328,Angola,AGO,2.59,2.830000,2.900000,2.910000,2.940000,3.02,2.91,2.970000,...,10.92,7.72,7.81,7.78,7.71,7.650000,7.50,7.41,7.28,7.22
490,Albania,ALB,15.60,16.040001,16.639999,16.780001,16.790001,16.76,16.41,16.780001,...,15.88,13.75,11.46,13.34,15.45,17.120001,14.45,12.48,11.87,11.31
652,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice there are still countries with missing data. Let's check how many are missing in 1991 and 2019.

In [16]:
pd.isnull(female_unemployment['1991']).sum()

31

In [17]:
pd.isnull(female_unemployment['2019']).sum()

31

Both are the same, it is likely these countries just do not provide the data at all. Let's exclude any countries with missing data:

In [18]:
female_unemployment = female_unemployment.dropna()

In [19]:
female_unemployment.shape

(233, 31)

# Using Plotly

Install plotly and import the express module.

In [20]:
# Ensure up to date version of plotly
# !pip install plotly==4.14.3

In [21]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

## Basic Plots

### Create a scatter plot using Ploty for one year

https://plotly.com/python/line-and-scatter/

In [ ]:
fig = px.scatter(female_unemployment, y="2019", x="Country Name", title='Female Unemployment in 2019', color = 'Country Code')
fig.show()

Hover over the scatterplot and notice the tooltip.

Also try options including Zoom, Pan, Lasso Select, Box Select that Plotly provides. These would show up when you hover over the plot

### Plotly also has a Dot Plot 

https://plotly.com/python/dot-plots/

Could you convert the scatter plot to a dot plot?

## Maps Using Plotly

https://plotly.com/python/maps/

### Create a static map using Plotly for one year
Using a choropleth map from plotly to create a map. For this we need the three letter country code in our data. We also need to select just one year to visualise. The below code is for 2019. If you hover over the map you will see the detail including country name. You can also zoom in and out of the chart using your mouse or keyboard.

In [ ]:
# https://plotly.com/python/mapbox-county-choropleth/
    
fig = px.choropleth(female_unemployment, # dataset to use
                    locations="Country Code", # column which includes 3 letter country code
                    color="2019", # column which dictates the colour of the map
                    hover_name="Country Name", # column to add to hover information
                    range_color=(0, 30), # range of the colour scale
                    color_continuous_scale="aggrnyl") # colour scale (these can be predefined or you can create your own)
fig.show()

### Pie chart in Plotly

https://plotly.com/python/pie-charts/

We could also generate a Pie chart in Plotly

For generating Pie chart, we will the count of seconary education teachers in four countries

In [ ]:
df_secondary_teachers = main_data.query("`Indicator Name` == 'Secondary education, teachers'")
df_secondary_teachers = df_secondary_teachers[['Country Code', '2017']]
df_secondary_teachers = df_secondary_teachers.loc[df_secondary_teachers['Country Code'].isin(['GBR','USA','IND','BRA'])]

df_secondary_teachers

In [ ]:
fig = px.pie(df_secondary_teachers, values='2017', names ='Country Code', title='Secondary education teachers')
fig.show()

## More Data Wrangling

For more analysis, it is better to convert all of the columns for each year into two columns - Year and Unemployment Rate.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html

In [ ]:
df = female_unemployment.melt(id_vars=["Country Name",	"Country Code"], 
        var_name="year", 
        value_name="Unemployment_Rate")

It is also helpful to convert year from a string to a numeric value.

In [ ]:
df['year'] = pd.to_numeric(df['year'])

df.head()

Let us filter data only from the United Kingdom

In [ ]:
df_uk = df.loc[df['Country Code'] == 'GBR']

In [ ]:
fig = px.line(df_uk, x="year", y="Unemployment_Rate", title='Female Unemployment', color="Country Code")
fig.show()

In addition to the United Kingdom, let us add a few other countries and generate a line plot

In [ ]:
df_uk_plus = df.loc[df['Country Code'].isin(['GBR','USA','AUS','CAN'])]
fig = px.line(df_uk_plus, x="year", y="Unemployment_Rate", title='Female Unemployment', color="Country Code")
fig.show()

Let us now try a bar a barplot

In [ ]:
fig = px.bar(df_uk_plus, x="year", y="Unemployment_Rate", color="Country Code", barmode="group")
fig.show()

Instead of grouping by year, let us try grouping by country to see individual trends

In [ ]:
df_filter1 = df.loc[df['Country Code'].isin(['GBR','USA','AUS','CAN'])]
df_filter1

Let us restrict the records to year 2015 onward

In [ ]:
df_filter2 = df_uk_plus.loc[df_filter1['year'].isin(['2015', '2016', '2017','2018'])]
df_filter2

In [ ]:
fig = px.bar(df_uk_plus, x="Country Name", y="Unemployment_Rate", color="year", barmode="group")
fig.show()

# Is this bar plot correct?

# Animation in Plotly

We will now look at the animation feature of Plotly. Let us comparing female unemployment rates in the UK, USA, Australia, and Canada via an animated scatter plot. 

To animate, we specify an attribute animation_group.

In [ ]:
fig = px.scatter(df_filter1, y='Unemployment_Rate' , x="Country Name", title='Female Unemployment', 
                 color = 'Country Code', animation_frame="year", animation_group="Country Code", 
                range_y=[1,15])
fig.show()

## Animation with Maps

In [ ]:
fig = px.choropleth(df, # dataset to use
                    locations="Country Code", # column which includes 3 letter country code
                    color="Unemployment_Rate", # column which dictates the colour of the map
                    hover_name="Country Name", # column to add to hover information
                    range_color=(0, 30), # range of the colour scale
                    color_continuous_scale="aggrnyl",  # colour scale (these can be predefined or you can create your own)
                    animation_frame ="year"
                   )
fig.show()

## Select at least three other indicators from below

In [ ]:
main_data['Indicator Name'].unique()

## Create Basic Charts using Plotly

https://plotly.com/python/basic-charts/

You may consider applying transform or melt functions

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html#

## Create Statistical Charts

https://plotly.com/python/statistical-charts/

Compare various countries on the indicator you selected using Box Plots, Distribution Plots, and Violin Plots

## Create Scientific Charts

Are there any charts in the scientific charts catalog that could better represent the indicators compared to the basic charts and the statistical charts?

https://plotly.com/python/scientific-charts/

## Create 3D Plots

https://plotly.com/python/3d-charts/

## Animate 3D Plots

https://plotly.com/python/#animations

## Create an Interactive Map Using Plotly

*Dash* is a library to create interactive dashboards using HTML and CSS. A specific version has been created for Juypter notebooks which we need to install.

In [ ]:
# Install jupter-dash via pip or conda 

# !pip install jupyter-dash
# !conda install -c plotly jupyter-dash

To create the dashboard, we create an application (this is similar to create an application for a server using Nodejs or flask). We can use HTML commands to define the layout of the dashboard, and we can also use an external CSS file to style the dashboard.

You can toggle through the years using your mouse, or once clicked the right and elft arrow keys.

In [ ]:
import plotly.express as px
from jupyter_dash import JupyterDash
# import dash # needed if not using Jupyter notebooks
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

# When using Dash, you can link to any external CSS files to style your dashboard
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

# Build App
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

## Use the below line (instead of above) if not using Jupyter notebooks
# app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

# Define the layout of the app
app.layout = html.Div([
    html.H1("Female Unemployment (%)"), # title
    dcc.Graph(id='graph'), # graph ID
    html.Label('Year'),
    # Create a slider for the years
    dcc.Slider( 
        id="year-slider",
        min=df['year'].min(),
        max=df['year'].max(),
        value=df['year'].min(),
        marks={str(year): str(year) for year in df['year'].unique()}
    )
])

# Define callback to update graph
@app.callback(
    Output('graph', 'figure'),
    [Input("year-slider", "value")]
)
def update_figure(selected_year):
    filtered_df = df[df.year == selected_year] # subset the dataframe based on year
    return px.choropleth(filtered_df, locations="Country Code",
                    color="Unemployment_Rate", 
                    hover_name="Country Name", 
                    range_color=(0, 50),
                    color_continuous_scale="plotly3")
 
# Run app and display result inline in the notebook

#  Uncomment the line below to run the server
# app.run_server(mode='inline')

When using Jupyter notebooks, we can run this application within the notebook as in the example below.

If the last line of the code is replaced with the following code, it will create the dashboard on a local host server.

```
if __name__ == '__main__':
     app.run_server(debug=True)
```

### Issues with Jupyter-Dash

Jupyter-Dash may complain when trying to run on Jupyter Notebook on local machine.
Try changing the host name or port number using the code in the cell below. 
A better alternative is to switch to Google Colab (https://colab.research.google.com) for creating dashboard.

You could upload the notebook you are working with on Colab.

Create a copy of the Colab notebook available here: 
https://colab.research.google.com/drive/1Z4KMfAD_Tm5b1TUiMIUnj3oR9cgvJ-Td?usp=sharing

Remember to upload the data to Colab.

In [ ]:
# Troubleshooting: MaxRetryError: HTTPConnectionPool(host='127.0.0.1', port=8050): Max retries exceeded with url

# You can specify host using the host attribute
# app.run_server(mode="inline", host = "localhost", debug = True)


# If you receive an error that the port is already occupied, you could use the script below to find an open port.

# import socket 
# def find_open_port():
#     s = socket.socket()
#     s.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)
#     s.bind(("", 0))
#     _, port = s.getsockname()
#     s.close()

#     return port

# port = find_open_port()
# print("port: {port}".format(port=port))
# app.run_server(mode="external", port=port, host="0.0.0.0")