In [67]:
import json 
import pandas as pd

In [68]:
raw_data = {
    'column_1': [1, 2, 3, 4, 5], 
    'column_2': ['a', 'b', 'c', 'd', 'e'], 
}

In [69]:
# json.dumps() 
print(json.dumps(raw_data, indent=2))

{
  "column_1": [
    1,
    2,
    3,
    4,
    5
  ],
  "column_2": [
    "a",
    "b",
    "c",
    "d",
    "e"
  ]
}

In [70]:
df = pd.DataFrame(raw_data)
df

   column_1 column_2
0         1        a
1         2        b
2         3        c
3         4        d
4         5        e

In [71]:
df['ind'] = [21,11,30,-13,15]
df

   column_1 column_2  ind
0         1        a   21
1         2        b   11
2         3        c   30
3         4        d  -13
4         5        e   15

In [72]:
# default 는 inplace=false 
df.set_index('ind')

     column_1 column_2
ind
 21         1        a
 11         2        b
 30         3        c
-13         4        d
 15         5        e

In [73]:
df

   column_1 column_2  ind
0         1        a   21
1         2        b   11
2         3        c   30
3         4        d  -13
4         5        e   15

In [74]:
# 이제 아예 df가 바뀌어 버럼 
df.set_index('ind', inplace=True)

In [75]:
df

     column_1 column_2
ind
 21         1        a
 11         2        b
 30         3        c
-13         4        d
 15         5        e

In [76]:
# index 다시 세팅 
df = pd.DataFrame(
        raw_data,
        index = [0,1,2,3,4]
    )

In [77]:
df

   column_1 column_2
0         1        a
1         2        b
2         3        c
3         4        d
4         5        e

In [81]:
df.index.name = 'ind'

In [82]:
df

     column_1 column_2
ind
0           1        a
1           2        b
2           3        c
3           4        d
4           5        e